@page "/graphics"

<h1>Graphics</h1>

<svg width="500" height="500" style="border: 1px solid grey" @onmousedown="OnStart" @onmouseup="OnEnd">
    @foreach (var line in Lines) {
        <line @key="@line" x1="@line.StartPoint.X" y1="@line.StartPoint.Y" x2="@line.EndPoint.X" y2="@line.EndPoint.Y" style="stroke:rgb(0, 0, 0); stroke-width:2" />
    }
</svg>

@code {
    private Point? startPoint;

    public void OnStart(MouseEventArgs args) {
        startPoint = new Point(args.OffsetX, args.OffsetY);
    }

    public void OnEnd(MouseEventArgs args) {
        if (startPoint != null) {
            Lines.Add(new Line() { StartPoint = startPoint.Value, EndPoint = new Point(args.OffsetX, args.OffsetY) });

            startPoint = null;
        }
    }

    public List<Line> Lines { get; set; } = new List<Line>() {
        new Line() { StartPoint = new Point(10, 10), EndPoint = new Point(490, 490) },
        new Line() { StartPoint = new Point(250, 10), EndPoint = new Point(250, 490) },
        new Line() { StartPoint = new Point(10, 250), EndPoint = new Point(490, 250) },
        new Line() { StartPoint = new Point(490, 10), EndPoint = new Point(10, 490) },
    };

    public struct Point {
        public double X { get; }
        public double Y { get; }

        public Point(double x, double y) {
            X = x;
            Y = y;
        }
    }

    public class Line {
        public Point StartPoint { get; set; }
        public Point EndPoint { get; set; }
    }
}
