@page "/graphics"

<h1>Graphics</h1>

<svg width="500" height="500" style="border: 1px solid grey">
    @foreach (var line in Lines) {
        <line @key="@line" x1="@line.StartPoint.X" y1="@line.StartPoint.Y" x2="@line.EndPoint.X" y2="@line.EndPoint.Y" style="stroke:rgb(0, 0, 0); stroke-width:2"  />
    }
</svg>

@code {
    public List<Line> Lines { get; set; } = new List<Line>() {
        new Line{ StartPoint = new Point(10, 10), EndPoint = new Point(490, 490) },
        new Line{ StartPoint = new Point(250, 10), EndPoint = new Point(250, 490) },
        new Line{ StartPoint = new Point(10, 250), EndPoint = new Point(490, 250) },
        new Line{ StartPoint = new Point(490, 10), EndPoint = new Point(10, 490) },
    };

    public struct Point {
        public int X { get; }
        public int Y { get; }

        public Point(int x, int y) {
            X = x;
            Y = y;
        }
    }

    public class Line {
        public Point StartPoint { get; set; }
        public Point EndPoint { get; set; }
    }
}
